@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berkshire Swash";
  src: url("assets/fonts/BerkshireSwash-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: sans-serif;
}

*[title] {
  text-decoration: none;
}
*[title]:after {
  font-size: 0.7em;
  content: " <" attr(title) ">";
}

@media screen and (min-width: 1280px) {
  *[title] {
    text-decoration: underline dotted;
  }

  :not(a)[title] {
    cursor: help;
  }

  *[title]:after {
    content: "";
  }
}
